<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>330129527962-njfiagq91h23rqgfp8cnmkat61034hb1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.330129527962-njfiagq91h23rqgfp8cnmkat61034hb1</string>
	<key>API_KEY</key>
	<string>AIzaSyBkyiUtgtkIislVHJvLFj2SC2YDmvBbBfY</string>
	<key>GCM_SENDER_ID</key>
	<string>330129527962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kanwarabhijitsingh.MDEV1001-M2023-Firebase</string>
	<key>PROJECT_ID</key>
	<string>mdev1001-m2023-f3c3c</string>
	<key>STORAGE_BUCKET</key>
	<string>mdev1001-m2023-f3c3c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330129527962:ios:92771269cc521881823b23</string>
</dict>
</plist>